/*standard desktop*/
#location {
    position:relative;
    z-index: 10;

}
#nav ul{
    position: relative;
    z-index: 1;

}
#nav {
    display: flex;
    flex-wrap: wrap;
    position: sticky;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    gap:3em;
  }
  img {
    max-width: 100%;
    height: auto;
}
    

body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    background-color: lightskyblue; 
    }

    .container {
        margin-top: 5em;
    }
h1 {
    font-size: 2em;
    font-weight: bold;
    
}
    
button{
    background-color: white;
    color:red;
}

.good {
    color:green;
    font-weight: bold;
}
.not-good {
    color:red;
    font-weight: bold;
}
/*tablet*/
@media (max-width: 800px) {

}
/*mobile*/
@media (max-width: 500px){
    
}